.app {
  position: relative;
}
.menu {
    position:relative;
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    &:hover {
        background-color: red;
        width: 90px;
        height: 90px;
        border-radius: 50%;    
    }
    &-burger{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        cursor: pointer;
        &:hover {
          opacity: 0.75;
        }

        &-bar1 {
            display: block;
            width:32px;
            height:5px;
            background-color:#F1F1F1;
            margin:6px 0;
            transition:0.4s;
        }
        &-bar2 {
            width:32px;
            height:5px;
            background-color:#F1F1F1;
            margin:6px 0;
            transition:0.4s;   
        }
        &-bar3 {
            width:32px;
            height:5px;
            background-color:#F1F1F1;
            margin:6px 0;
            transition:0.4s;  
        }
    }
    .menu-burger--open-bar2 {
      opacity:0;
    }
    .menu-burger--open-bar1 {
      transform:rotate(-45deg) translate(-9px, 6px);
    }
    .menu-burger--open-bar3 {
      transform:rotate(45deg) translate(-8px, -8px);
    }
}

.menu-modal {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: green;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  
}
.menu-modal--open {
  transition: all .5s ease-in;
  transform: scale(5);
  //width: 50%;
  width: 190px;
  height: 100vh;
  border-radius: 0;
}
